/* -------------------------------  RESET  ------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio,
video { margin: 0; padding: 0; border: 0; vertical-align: baseline;}

html {line-height: 1.15; -webkit-text-size-adjust: 100%;}
body {margin: 0;}
main {display: block;}
h1 {font-size: 2em; margin: 0.67em 0;}
hr {box-sizing: content-box; height: 0; overflow: visible;}
pre {font-family: monospace, monospace; font-size: 1em;}
a {background-color: transparent;}
b, strong {font-weight: bolder;}
code, kbd, samp {font-family: monospace, monospace; font-size: 1em;}
small {font-size: 80%;}
sub, sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sub {bottom: -0.25em;}
sup {top: -0.5em;}
img {border-style: none;}
button, input, optgroup, select, textarea {font-family: inherit; font-size: 100%; line-height: 1.15; margin: 0;}
button, input {overflow: visible;}
button, select {text-transform: none;}
button, [type="button"], [type="reset"], [type="submit"] {-webkit-appearance: button;}
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {border-style: none; padding: 0;}
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {outline: 1px dotted ButtonText;}
fieldset {padding: 0.35em 0.75em 0.625em;}
legend {box-sizing: border-box; color: inherit; display: table; max-width: 100%; padding: 0; white-space: normal;}
progress {vertical-align: baseline;}
textarea {overflow: auto;}

[type="checkbox"], [type="radio"] {box-sizing: border-box; padding: 0;}
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {height: auto;}
[type="search"] {-webkit-appearance: textfield; outline-offset: -2px;}
[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
::-webkit-file-upload-button {-webkit-appearance: button; font: inherit;}

*{-webkit-box-sizing: border-box; box-sizing: border-box;}

details {display: block;}
summary {display: list-item;}
template {display: none;}
[hidden] {display: none;}

input {outline:none;}
* {-webkit-tap-highlight-color: rgba(0,0,0,0);}
input[type=text], input[type=submit], textarea {-webkit-appearance: none;}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out; -webkit-transition-delay: 9999s;
}
select {outline: 0;}
:focus {outline: none;}

/* -------------------------------  BASE STYLES  ------------------------------- */

body {font-family: 'Euclid Circular A', sans-serif; font-weight: 400; background: #fff; font-size: 14px; line-height: 1.2; color: #160F0F;}
img {width: 100%;}

.wrap {max-width: 1300px; padding: 0 60px; margin: 0 auto;}
.title {font-size: 32px; font-weight: 500;}

.btn {
    display: inline-block;
    padding: 8px 14px;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    line-height: 135%;
    font-weight: 400;
    text-decoration: unset;
}

.btn.btn-blue {
    background-color: #0962e8;
    color: #fff;
}

.text-blue {
    color: #0962e8;
}

/* ------------------------------- HOME ------------------------------- */

/* header */

header {
    margin-top: 32px;
    margin-bottom: 83px;
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 1200px) {
    header {
        margin-bottom: 15px;
    }
}

header .logo {
    position: relative;
    max-width: 203px;
    display: inline-block;
    margin-left: 156px;
}

header .logo img {
    display: block;
}

header .install {
    margin-left: auto;
    margin-right: 173px;
}
@media only screen and (max-width: 1200px) {
    header .install {
        display: none;
    }
}

header .mobile {
    display: none;
}
@media only screen and (max-width: 1200px) {
    header .logo {
        margin-left: 0;
    }

    header .mobile {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    header .mobile .apple,
    header .mobile .google {
        width: 40px;
        height: 40px;
        text-indent: -9999px;
        background-size: 23px 26px;
        background-position: center;
        background-image: url('/images/mob_google_play_logo.png');
        background-repeat: no-repeat;
    }

    header .mobile .apple {
        background-size: 18px 22px;
        background-image: url('/images/mob_apple_appstore_logo.png');
    }
}

.tip {
    position: relative;
    cursor: help;
}

.tip:hover .tip-description {
    display: block;
}

.tip .tip-description {
    display: none;
    position: absolute;
    left: -25px;
    top: 100%;
    background: #fff;
    z-index: 1;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 14px;
    color: #8e949c;
    font-size: 14px;
    letter-spacing: 0.001em;
    line-height: 130%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    min-width: 287px;
}

.theme-block {
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 1200px) {
    .theme-block {
        display: block;
    }
}

.text-block .text-main {
    color: #47646d;
    font-size: 44px;
    letter-spacing: 0.02em;
    line-height: 130%;
}
@media only screen and (max-width: 1200px) {
    .text-block .text-main {
        font-size: 32px;
        line-height: 111%;
    }
}

.text-block .text-secondary {
    font-size: 16px;
    letter-spacing: 0.01em;
    line-height: 150%;
}
@media only screen and (max-width: 1200px) {
    .text-block .text-secondary {
        font-size: 14px;
        line-height: 150%;
    }
}

.pic-block .pic-group .text-main {
    letter-spacing: 0.02em;
    font-size: 24px;
    font-weight: bold;
    line-height: 130%;
    color: #fff;
}

.pic-block .pic-group .text-secondary {
    font-size: 14px;
    line-height: 150%;
    color: #fff;
}

.head-block.head-mobile {
    display: none;
}
@media only screen and (max-width: 1200px) {
    .head-block.head-desktop {
        display: none;
    }

    .head-block.head-mobile {
        display: block;
    }
}

.head-block .text-block {
    max-width: 470px;
}
@media only screen and (max-width: 1200px) {
    .head-block .text-block {
        margin: auto;
    }
}

.head-block .text-block .text-main .smaller {
    font-size: 32px;
    line-height: 111%;
}

.head-block .text-block .text-secondary {
    color: #062b61;
    width: 413px;
}
@media only screen and (max-width: 1200px) {
    .head-block .text-block .text-secondary {
        width: 100%;
    }
}

.head-block .text-block .btn-block {
    max-width: 260px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media only screen and (max-width: 1200px) {
    .head-block .text-block .btn-block {
        justify-content: center;
        max-width: unset;
        width: 100%;
    }
}

.head-block .text-block .btn-block .install {
    font-size: 16px;
    line-height: 135%;
    padding-top: 17px;
    padding-bottom: 18px;
    flex: 100% 1 0;
}
@media only screen and (max-width: 1200px) {
    .head-block .text-block .btn-block .install {
        padding-top: 21px;
        padding-bottom: 22px;
        margin-top: 12px;
        max-width: 445px;
    }
}

.head-block .text-block .btn-block .apple,
.head-block .text-block .btn-block .google {
    text-indent: -9999px;
    margin-top: 18px;
    border-radius: 0;
    background-size: contain;
    background-image: url('/images/google_play_logo.png');
    background-repeat: no-repeat;
    padding: 0;
    height: 38px;
    width: calc(50% - 8px);
}
@media only screen and (max-width: 1200px) {
    .head-block .text-block .btn-block .apple,
    .head-block .text-block .btn-block .google {
        margin-top: 20px;
        height: 67px;
        width: calc(50% - 6px);
        max-width: 217px;
    }
}

.head-block .text-block .btn-block .apple {
    background-image: url('/images/apple_appstore_logo.png');
    margin-left: 15px;
}
@media only screen and (max-width: 1200px) {
    .head-block .text-block .btn-block .apple {
        margin-left: 11px;
    }
}

.head-block .pic-block {
    position: relative;
    width: 581px;
}
@media only screen and (max-width: 1200px) {
    .head-block .pic-block {
        width: 100%;
        display: block;
        min-height: 362px;
        max-width: 581px;
        margin: auto;
    }
}

.head-block .pic-block .bg-blur {
    position: absolute;
    width: 386px;
    height: 386px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 56.42%, #FFFFFF 66.22%), #E2F3FF;
    left: 98px;
    top: 26px;
    filter: blur(50px);
}

.head-block .pic-block .bg-pic {
    width: 312px;
    height: 295px;
    position: absolute;
    left: 129px;
}
@media only screen and (max-width: 1200px) {
    .head-block .pic-block .bg-pic {
        z-index: 2;
        width: unset;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
    }
}

.head-block .pic-block .pic-group {
    position: absolute;
    border-radius: 20px;
    backdrop-filter: blur(4px);
    opacity: .8;
    padding-top: 91px;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 18px;
    width: 171px;
}
@media only screen and (max-width: 1200px) {
    .head-block .pic-block .pic-group {
        padding-top: 43px;
        padding-left: 9px;
        padding-bottom: 14px;
        padding-right: 8px;
        opacity: unset;
        z-index: 3;
    }
}

.head-block .pic-block .pic-group .block-pic {
    position: absolute;
    left: 19px;
    top: -46px;
    width: 85px;
    height: 117px;
}
@media only screen and (max-width: 1200px) {
    .head-block .pic-block .pic-group .block-pic {
        width: 40px;
        height: 55px;
        top: -18px;
        left: 8px;
    }
}

.head-block .pic-block .time {
    top: 229px;
    background: linear-gradient(180deg, #FFE1C5 0%, #FF7A00 65.62%)
}
@media only screen and (max-width: 1200px) {
    .head-block .pic-block .time {
        top: 205px;
        left: 2%;
        opacity: .8;
    }
}

.head-block .pic-block .commission {
    left: 206px;
    top: 284px;
    background: linear-gradient(180deg, #99E0FE 26.56%, #488ECC 78.65%);
    opacity: .9;
    backdrop-filter: blur(6px);
}
@media only screen and (max-width: 1200px) {
    .head-block .pic-block .commission {
        top: 15px;
        left: 2%;
        z-index: 1;
        width: 288px;
        backdrop-filter: blur(6px);
        opacity: .9;
    }

    .head-block .pic-block .commission .block-pic {
        width: 40px;
        height: 50px;
    }
}

.head-block .pic-block .percent {
    right: 0;
    top: 151px;
    background: linear-gradient(180deg, rgba(151, 186, 219, 0.9) 0%, rgba(6, 43, 97, 0.9) 100%);
}
@media only screen and (max-width: 1200px) {
    .head-block .pic-block .percent {
        top: 233px;
        left: calc(90%  - 150px);
    }

    .head-block .pic-block .percent .block-pic {
        width: 38px;
        height: 52px;
    }
}

.risks-block {
    margin-top: 200px;
}
@media only screen and (max-width: 1200px) {
    .risks-block {
        margin-top: 18px;
    }
}

.risks-block .pic-block {
    width: 422px;
    height: 422px;
}
@media only screen and (max-width: 1200px) {
    .risks-block .pic-block {
        margin: auto;
        max-width: 100%;
    }
}

.risks-block .text-block {
    width: 453px;
    margin-left: 121px;
}
@media only screen and (max-width: 1200px) {
    .risks-block .text-block {
        max-width: 470px;
        width: 100%;
        margin: auto;
    }
}

.risks-block .text-block .text-secondary {
    color: #66778f;
}