<!-- header -->
<header class="container">
    <div class="logo">
        <img src="images/logo.png" />
    </div>
    <a class="install btn btn-blue" href="">Установить</a>
    <div class="mobile">
        <a class="btn google" href="">Google play</a>
        <a class="btn apple" href="">App store</a>
    </div>
</header>
<!-- header-end -->
<!-- main desktop -->
<div class="container">
    <!-- head-desktop -->
    <div class="head-block head-desktop theme-block">
        <div class="text-block">
            <div class="text-main">
                <span class="text-blue fade-in">Инвестируйте легко</span><br />
                и получайте доход<br />
                <span class="text-blue fade-in">+51,9%</span> <span class="smaller">годовых<span class="tip"><sup>*</sup><div class="tip-description">Общий показатель по среднегодовой доходности стратегий</div></span></span>
            </div>
            <div class="text-secondary fade-in">
                <br />
                Выбирайте стратегии успешных трейдеров  и копируйте сделки в авторежиме. Зарабатывайте легко и с минимальными рисками через мобильное приложение Сopybro.
                <br /><br />
            </div>
            <div class="btn-block fade-in">
                <a class="install btn btn-blue" href="">Установить приложение</a>
                <a class="btn google" href="">Google play</a>
                <a class="btn apple" href="">App store</a>
            </div>
        </div>
        <div class="pic-block">
            <div class="bg-blur"></div>
            <img class="bg-pic fade-in" src="images/jumbotron_background.png" />
            <div class="time pic-group fade-in">
                <img class="block-pic" src="images/jumbotron_logo_1.png" />
                <div class="text-main">60 мин</div>
                <div class="text-secondary">Сэкономленного времени в день</div>
            </div>
            <div class="commission pic-group fade-in">
                <img class="block-pic" src="images/jumbotron_logo_2.png" />
                <div class="text-main">от 0,0₽</div>
                <div class="text-secondary">Платите комиссию только с прибыли</div>
            </div>
            <div class="percent pic-group fade-in">
                <img class="block-pic" src="images/jumbotron_logo_3.png" />
                <div class="text-main">51,9%</div>
                <div class="text-secondary">Средняя годовая доходность</div>
            </div>
        </div>
    </div>
    <!-- head-desktop-end -->
    <!-- head-mobile -->
    <div class="head-block head-mobile theme-block">
        <div class="pic-block">
            <img class="bg-pic fade-in" src="images/jumbotron_background.png" />
            <div class="time pic-group fade-in">
                <img class="block-pic" src="images/jumbotron_logo_1.png" />
                <div class="text-main">60 мин</div>
                <div class="text-secondary">Сэкономленного времени в день</div>
            </div>
            <div class="commission pic-group fade-in">
                <img class="block-pic" src="images/jumbotron_logo_2.png" />
                <div class="text-main">от 0,0₽</div>
                <div class="text-secondary">Вы платите<br />только за успех</div>
            </div>
            <div class="percent pic-group fade-in">
                <img class="block-pic" src="images/jumbotron_logo_3.png" />
                <div class="text-main">51,9%</div>
                <div class="text-secondary">Средняя годовая доходность</div>
            </div>
        </div>
        <div class="text-block">
            <div class="text-main fade-in">
                <br />
                Зарабатывайте на инвестировании <span class="text-blue">легче и больше</span>
            </div>
            <div class="text-secondary fade-in">
                <br />
                Подписывайтесь на лучшие стратегии, копируйте сделки профессиональных трейдеров в автоматическом режиме, зарабатывайте легко с минимальными рисками
            </div>
            <div class="btn-block fade-in">
                <a class="btn google" href="">Google play</a>
                <a class="btn apple" href="">App store</a>
                <div class="flex-line-break"></div>
                <a class="install btn btn-blue" href="">Установить приложение</a>
            </div>
        </div>
    </div>
    <!-- head-mobile-end -->
    <!-- risks -->
    <div class="risks-block theme-block">
        <div class="pic-block fade-in">
            <img class="bg-pic" src="images/risks_background.png" />
        </div>
        <div class="text-block">
            <div class="text-main fade-in">
                Автоследование: <span class="text-blue">минимальные риски</span>, оптимальная доходность
            </div>
            <div class="text-secondary fade-in">
                <br />
                Мы собрали для вас лучшие торговые стратегии с подтвержденными данными по прошлым сделкам и их доходности.<br />
                Трейдер ежедневно следит за динамикой рынка, совершая сделки и балансируя риски и доходность стратегии.
            </div>
        </div>
    </div>
    <!-- risks-end -->
</div>
<!-- main-end -->